.kable td, th { 
  padding: 5px;
}

.shiny-output-error-validation {
  color: red;
}

#plot4size {
  display: none;
}

.table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
  background-color: lightblue !important;
}
